[submodule "app/packages/foundry/lib/openzeppelin-contracts"]
	path = app/packages/foundry/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "app/packages/foundry/lib/solidity-bytes-utils"]
	path = app/packages/foundry/lib/solidity-bytes-utils
	url = https://github.com/GNSPS/solidity-bytes-utils
